.resubmit-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.resubmit-form input {
  box-sizing: border-box;
  flex: 1;
  padding: (0.4em - 2px) 0;
  margin: 0.4em 0;
}

.resubmit-form .symbol-button {
  margin-left: 15px;
  padding: 0px 5.21px;
  font-size: 23px;
  font-weight: lighter;
}
